header{
    height: 300px;
    min-height: 450px;
    color: #fff;
    background-image: url(../img/bg-2.jpg);
    background-position: bottom;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

header h1{
    font-size: 100px;
}
header .row{
    height: 50%;
}


.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
    margin-bottom: 30px;
    
}

.btn-circle:focus, .btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
}

main{
    padding-top: 50px;
    padding-bottom: 50px;
}