.carousel-container{
    height: 600px;
    min-height: 600px;
    overflow: hidden;
}

.carousel-image{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -100px;
    z-index: -10;
}

#carouselIndicators{
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

main{
    padding-top: 20px;
    padding-bottom: 20px;
}

article{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

main h1,h2,p, .img-container{
    padding-bottom: 20px;
}


.img-container{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.article-image{
    width: 100%;
}

@media (max-width: 767.98px) {
    h1{
        font-size: 2em;
    }
    
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 0.9em;
    }
}